# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# 
*.suo
.vs/
CRC/Debug
CRC/Release
CRC/x64/Debug
CRC/x64/Release
Validation/Debug
Validation/Release
Validation/x64/Debug
Validation/x64/Release
Debug/*.exp
Debug/*.pdb
Release/*.exp
Release/*.pdb
x64/Debug/*.exp
x64/Debug/*.pdb
x64/Release/*.exp
x64/Release/*.pdb
